:root {
  --primary-color: #E50914;
  --background-color: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 30px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--primary-color);
  font-size: 40px;
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-left: 20px;
}

header nav a:hover,
header nav a.active {
  color: white;
}

/* ---- ---- Main movie ---- ---- */

.main-movie {
  font-size: 16px;
  min-height: 40.62em;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .5) 100%), url(../img/img-1.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: flex-end;
}

.main-movie .container {
  margin-bottom: 6.25em;
}

.main-movie .title {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.main-movie .description {
  line-height: 1.45em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.main-movie .btn {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  border-radius: 5px;
  padding: 0.93em 1.87em;
  color: white;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em;
}

.main-movie .btn:hover {
  background-color: white;
  color: white;
}

.main-movie .btn i {
  margin-right: 1.25em;
}

/* ---- ---- Title and controllers container ---- ---- */

.title-controlls-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title-controlls-container h3 {
  color: white;
  font-size: 30px;
}

.title-controlls-container .indicators button {
  background: white;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-left: 2px;
}

.title-controlls-container .indicators button:hover,
.title-controlls-container .indicators button.active {
  background-color: var(--primary-color);
}

/* ---- ---- Main container ---- ---- */

.recommended-movies {
  margin-bottom: 70px;
}

.recommended-movies .main-container {
  display: flex;
  align-items: center;
  position: relative;
}

.recommended-movies .main-container .arrow-left,
.recommended-movies .main-container .arrow-right {
  position: absolute;
  border: none;
  background-color: rgba(0, 0, 0, .25);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: white;
  cursor: pointer;
  z-index: 10;
  transition: .2s ease all;
}

.recommended-movies .main-container .arrow-left:hover,
.recommended-movies .main-container .arrow-right:hover {
  background-color: rgba(0, 0, 0, .8);
}

.recommended-movies .main-container .arrow-left {
  left: 0;
}

.recommended-movies .main-container .arrow-right {
  right: 0;
}

/* ---- ---- Main container ---- ---- */

.recommended-movies .carousel-container {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.recommended-movies .carousel-container .carousel {
  display: flex;
}

.recommended-movies .carousel-container .carousel .movie {
  min-width: 20%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
  transition: .3s ease all .1s;
}
.recommended-movies .carousel-container .carousel .movie:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.recommended-movies .carousel-container .carousel .movie img {
  width: 100%;
}

/* ---- ---- Media queries ---- ---- */

@media screen and (max-width: 800px) {
  header {
    padding: 20px 0;
  }

  header .container {
    flex-direction: column;
  }

  .main-movie {
    font-size: 14px;
  }

  .main-movie .description {
    max-width: 100%;
  }

  .recommended-movies .carousel-container {
    overflow: visible;
  }

  .recommended-movies .carousel-container .carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .recommended-movies .indicators,
  .recommended-movies .arrow-left,
  .recommended-movies .arrow-right {
    display: none;
  }
}